/*-- SECTION: PROJECTS --*/
.project-section, .resume-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: .5rem;
  }

  .project-section {
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* background-image: linear-gradient( 110.5deg,  rgba(71,114,148,.7) 14.9%, rgba(149,245,211,.3) 85% ); */
    background-image: linear-gradient( 150.5deg,  rgba(255, 255, 255, 0.3) 14.9%, rgba(252, 252, 252, 0.3) 90% );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
  }

  .projects-container, .resume-container {
    display: flex;
    flex-flow:wrap;
    justify-content: center;
    align-items: stretch;
    width: 92%;
    gap: 1rem 1.5rem;
    margin-bottom: 2rem;
  }

  .tool-filter-container {
    display: flex;
    flex-direction: column;
    background-color:rgba(60, 190, 167, 0.85);
    background-color:rgba(194, 250, 240, 0.85);
    box-shadow: 0 4px 12px 0 rgba( 31, 38, 135, 0.37 );
    padding: 1.1rem 1.5rem;
    border-radius: 10px;
    margin: 0;
    margin-bottom: .5rem;
    width: 70%;
  }

.tool-filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 4 0 1;
  list-style: none;
}

.tool-select-item {
  padding: .3rem .75rem;
  border-radius: 10px;
}

.tool-select-item:hover {
  background-color: rgb(46, 184, 184);
  /* padding: 1rem; */
}

.tool-select-label {
  cursor: pointer;
  padding: 1rem .5rem;
  font-size: 1.1rem;
}

.tool-select-label:hover {
  cursor: pointer;
}

input.tool-select-input {
    transform: scale(1.5);
}