/*-- SECTION: SKILLS --*/
.skills-icons {
  display: flex;
  align-items:center;
  list-style-type: none;
  justify-content: space-around;
  flex-flow: row wrap;
  padding:15px 0px;
}

.skills-section img {
  flex-wrap: auto;
  padding: 25px 25px;
  max-height: 150px;
}

.skill-link {
  text-decoration: none;
  filter: none;
  transition: filter 0.25s;
}

.skill-link:hover {
  filter: drop-shadow(5px 5px 5px #222);
}