/*-- FONTS --*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap');

:root {
  --font-header: 'Titillium Web', sans-serif;
  --font-title:'Mulish', sans-serif;
  --font-paragraph: 'Poppins', sans-serif;
}

.resume-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: left;
    align-items: stretch;
    width: 100%;
    gap: 1rem 1.5rem;
    margin-bottom: 2rem;
}

@media screen and (min-width: 52em) {
  .resume-details-container {
    width: min(70%, 90rem);
  }
}

@media screen and (min-width: 70em) {
  .resume-details-container {
    width: min(55%, 90rem);
  }
}

/* CARD STYLES */
.resume-card-details {
  display: flex;
  flex-direction:column;
  flex: 1 1 min(14rem);
  justify-content: flex-start;
  align-items: stretch;
  padding: 1rem 2rem 3rem;
  color: white;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 20px;
  background-image: linear-gradient( 110.5deg,  rgba(71,114,148,.7) 14.9%, rgba(149,245,211,.3) 85% );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.0px );
  -webkit-backdrop-filter: blur( 3.0px );
}

.resume-card-cta {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: stretch;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 20px;
    padding: 1rem 2rem 3rem;
    color: white;
    background-image: linear-gradient( 110.5deg,  rgba(71,114,148,.7) 14.9%, rgba(149,245,211,.3) 85% );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
  }

  .resume-btn-cta {
    width: fit-content;
    align-self: center;
    text-decoration: none;
    padding: .2rem 2rem;
    font-size: 1.2rem;
  }

.resume-card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.resume-card-title:first-letter {
  text-transform: capitalize;
}

.resume-tag-details {
  display: flex;
  /* height: 3rem; */
  font-size: .7rem;
  padding: 2rem;
  background-color:rgb(207, 252, 244);
  border-radius: 5px;
  color: rgb(63, 62, 62);
  font-weight: 500;
  font-family: var(--font-paragraph);
}

.resume-tag-details img {
  max-width: 3rem;
  max-height: 2rem;
  padding: 0 .6rem 0 0;
}

.resume-tags-details {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-items: stretch;
  gap: .7rem;
  font-size: 1rem;
}

.resume-tag {
  align-items: center;
}

.skills-tag-details {
  display: flex;
  align-items: center;
  flex:1 1 9rem;
  padding: .6rem;
}

.education-tag-details, .experience-tag-details {
  width: 100%;
}

.experience-tag-responsibilities {
  margin: .5rem 0 0 0;
}

.experience-tag-accomplishments {
  margin-left: 2rem;
}


body {
  background-color: #eee;
  min-height: 100vh;
}