/*-- FONTS --*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap');

:root {
    --font-header: 'Titillium Web', sans-serif;
    --font-title:'Mulish', sans-serif;
    --font-paragraph: 'Poppins', sans-serif;
  }

.contact-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: .1rem;
    margin: 1rem;
}

.email {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    padding-top: 1rem;
}

/*-- SECTION: CONNECT --*/
.contact-links-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14rem;
    padding:1rem 0px;
    font-size: 1rem;
}

.contact-links-list a {
    text-decoration: none;
    font-size: 3rem;
    color: white;
    text-shadow: 1px 1px 4px rgba(41, 38, 38, 1);
    transition: all .3s ease-in-out;
}

.contact-links-list a:hover {
    color: var(--color-accent);
}