.contact-form {
    width: 75%;
  }

  .contact-form input,.contact-form textarea{
    display: block;
    padding:20px 15px;
    font-size:16px;
    color:var(--secondary-color);
    width:100%;
    margin-bottom: 5px;
    margin-top:5px;
    border-radius: 1px;
    background-color: rgba(255,255,255, 0.75);
  }

  .contact-form input:focus,.contact-form textarea:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
  }

  .contact-form button {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color:var(--secondary-color);
    text-align: center;
    padding:20px 0;
    font-size: 16px;
    border-radius: 1px;
  }

  .contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
    cursor: pointer;
  }