/*-- FONTS --*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/*-- FONT ICONS --*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

/*-- VARIABLES --*/
:root {
  --color-bg-backup:rgb(24,78,94);
  --color-bg-dark-gradient: radial-gradient(circle, rgba(24,78,94,1) 0%, rgba(8,93,99,1) 97%);
  --color-bg-dark-gradient-transparent: radial-gradient(circle, rgba(24,78,94,.5) 0%, rgba(8,93,99,.5) 97%);
  --color-bg-light-transparent: rgba(255,255,255, 0.9);

  --primary-color:#00BFFF;
  --primary-color-lighter:#77ddff;
  --secondary-color: rgb(39, 43, 48);
  --tertiary-color: #001933;

  --font-header: 'Titillium Web', sans-serif;
  --font-paragraph: 'Poppins', sans-serif;
}


/*-- GLOBAL STYLES --*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: white;
}

@media screen and (min-width: 980px) {
  html {
    font-size: 16px;
    }
}

body {
  background: var(--color-bg-backup);
  background: var(--color-bg-dark-gradient);
  font-family: var(--paragraph-font);
  font-size: 1.3125rem;
  line-height: 1.6;
}

section {
  padding: 3rem 0;
}

.container {
  margin-inline-end: auto;
}

.text-light,
.text-light > *,
.text-light > * > *,
.text-light > * > * > * {
  color: white;
}

.text-center {
  text-align: center;
}

.bg-dark-card {
  background: var(--color-bg-backup);
  background: var(--color-bg-dark-gradient-transparent);
  box-shadow: 0 9px 50px 0 rgb(0 0 0 / 75%);
}

.bg-light {
  background-color: var(--color-bg-light-transparent);
}

h1,
h2,
h3 {
  font-family: var(--font-header);
}


/*-- HEADER --*/
/* top navigation menu */
.header-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url('./assets/images/galaxy-bg.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

.header-section::after {
  content: "";
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(circle, rgba(8,93,99,.75) 0%, rgba(15, 47, 49, 0.75) 100%);
  background-image: linear-gradient(to top, rgba(8,93,99,1) 0%,rgba(71, 197, 12, 0.75) 100%);
  background: linear-gradient(to top, rgba(9, 39, 48, 0.9) 0%, rgba(5, 70, 75, 0.75) 100%);
}

.header-subtitle {
  padding-top: 24px;
  margin: 0px;
  font-size: 2.5rem;
  font-family: var(--font-header);
  z-index: 1;
  text-shadow: 1px 1px 10px black;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  /* background-color: white;
  box-shadow: 2px 2px 10px black; */
  z-index: 1;
}

.header-spacer {
  width: 100%;
  height: 70px;
  /* background-color:#00BFFF; */
}

.nav-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 4rem;
  line-height: 70px;
  margin-bottom: -275px;
  border: solid 0px rgba(255, 255, 255, .0);

  transition: border 150ms ease, box-shadow 150ms ease;
  font-family:var(--font-header);
  text-shadow: 2px 2px 20px rgb(38, 39, 39);
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 25px 0;
  font-family: var(--font-header);
}

.navigation a {
  display:block;
  font-size: 2rem;
  color: inherit;
  padding: 10px 5px;
  border-radius: 1px;
  background-color: none;
  transition: all .3s ease-in-out;
}

.navigation a:hover {
  font-weight: bolder;
  background-color: rgb(77, 91, 107);
  padding-left:10px;
  color: var(--primary-color);
  border-left: solid 8px var(--primary-color);
}
header a {
  text-decoration: none;
}

/* MEDIA QUERY FOR LARGER SCREENS */

@media screen and (min-width: 980px) {

/* side navigation menu */
  /* .header {
    height: 100%;
    width: 225px;
    position:fixed;
    clear:left;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgb(39, 43, 48) 0%,rgb(77, 91, 107) 100%);
    overflow-x: hidden;
    box-shadow: 2px 1px 3px rgb(0,0,0,.75);
  } */

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    flex-direction: row;
  }

  .navigation {
    display: flex;
  }

  .navigation ul {
    display: flex;
  }

  .navigation li {
    margin: 0px 0px;
    width: 200px;
    padding: 0px 5px;
  }
}

/*-- ALL CONTENT SECTIONS --*/
.section-title {
  text-align: left;
  color: white;
  letter-spacing: 3.5px;
  font-size: 3.5em;
  font-family: var(--font-header);
  font-weight: 800;
  padding: 25px 0px;
}

/* .section-content {
  padding: 0 6%;
} */

/*-- SECTION: BANNER --*/
.banner-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 30px 0px;
  border-radius: 20px;
  /* background-image: url('./assets/images/header-graphics/green-waves-header5.png');
  background-size:contain;
  background-repeat: no-repeat; */
}

@media screen and (min-width: 792px) {
  .banner-section {
    background-image: url('./assets/images/header-graphics/green-waves-header5.png');
    background-size:contain;
    background-repeat: no-repeat;
  }
}

.banner-logo-link {
  color:white;
  text-align: center;
  transition: color 150ms ease;
  z-index: 1;
  width: 100%;
}

.logo-container {
  height:300px;
  width:300px;
  z-index: 1;
  transform: scale(.8);
}

@media screen and (min-width: 415px) {
  .logo-container {
    transform: scale(1);
  }
}

.banner-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 4.5em;
  line-height: 70px;
  margin-bottom: -275px;
  height: 300px;
  width: 300px;
  border: solid 0px rgba(255, 255, 255, .0);
  border-radius: 50%;
  background: rgb(8,93,99);
  background: radial-gradient(circle, rgba(8,93,99,.75) 0%, rgba(133,193,52,.75) 100%);
  box-shadow: 2px 2px 10px rgb(52, 54, 54);
  transition: border 150ms ease, box-shadow 150ms ease;
  font-family:var(--font-header);
  text-shadow: 2px 2px 20px rgb(38, 39, 39);
}

.banner-textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  width: 100%;
  padding: 250px 25px 20px;
  border-radius: 10px;
  background: rgb(24,78,94);
  background: radial-gradient(circle, rgba(24,78,94,.8) 0%, rgba(8,93,99,1) 97%);
  box-shadow: 0 9px 50px 0 rgb(0 0 0 / 75%);
}

@media screen and (min-width: 1024px) {
  .banner-textbox {
    align-items: center;
    height: 800px;
    width: 90%;
    padding: 300px 0px 20px;
    border-radius: 10px;
    background: rgb(24,78,94);
    background: radial-gradient(circle, rgba(24,78,94,.8) 0%, rgba(8,93,99,1) 97%);
    box-shadow: 0 9px 50px 0 rgb(0 0 0 / 75%);
  }
}

.banner-textbox-title {
  padding-top: 24px;
  margin: 0px;
  text-align: center;
  color: white;
  font-size: 3.5em;
  font-family: var(--font-header);
}

@media screen and (min-width: 415px) {
  .banner-textbox-title {
    font-size: 3.5em;
    margin: 0 25px;
  }
}

.banner-navigation {
  visibility:collapse;
  width: 100%;
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 500px) {
  .banner-navigation {
    visibility:visible;
  }
}

.banner-navigation-item a {
  padding:20px;
  color:white;
  text-align: center;
  transition: color 150ms ease;
}

.banner-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 2.5em;
  margin-bottom: 5px;
  height:2em;
  width:2em;
  border: solid 0px rgba(255, 255, 255, .0);
  border-radius: 50%;
  background: rgb(8,93,99);
  background: radial-gradient(circle, rgb(14, 153, 95) 0%, rgba(133,193,52,1) 100%);
  box-shadow: none;
  transition: border 150ms ease, box-shadow 150ms ease;
}

.banner-navigation-item:hover .banner-icon {
  color: white;
  border: solid 3px rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 10px rgb(133,193,52);
}

.banner-navigation-item:hover a {
  color:rgb(133,193,52);
}


/*-- SECTION: ABOUT --*/
.about-section {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 6rem;
  font-family: var(--paragraph-font);
  line-height: 2rem;
}

.about-image {
  width:325px;
  height:325px;
  margin-left: -250px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgb(46, 44, 44);
  z-index: 1;
}

.about-textbox {
  display: flex;
  width: 100%;
  height:fit-content;
  margin: 5% 1%;
  padding: 25px 25px;
  border-radius: 10px;
  color: white;
}

@media screen and (min-width: 1024px) {
  .about-textbox {
    width: 85%;
  }

}

.about-text {
  width: 78%;
  margin: 0 3%;
}

.about-section p {
  font-size: 20px;
  font-weight:300;
}


/*-- SECTION: PROJECTS --*/
.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
}

.project-section-title {
  color: rgb(82, 82, 82);
}

.featured-projects {
  display: flex;
  flex-flow:wrap;
  justify-content: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width:fit-content;
  margin: 30px;
  flex-shrink: .5;
}

.project-card-image {
  height:188px;
  width: 300px;
  margin-bottom: -70px;
  border-radius: 10px;
  box-shadow: 0 9px 14px 0 rgb(0 0 0 / 75%);
  z-index: 1;
}

.project-card {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 475px;
    width: 340px;
    color: white;
    margin:2.5% 2.5%;
    padding: 10px 10px;
    border-radius: 10px;
    /* background: rgb(24,78,94);
    background: radial-gradient(circle, rgba(24,78,94,.75) 0%, rgba(8,93,99,1) 97%); */
    background: rgb(9,124,133);
    background: linear-gradient(180deg, rgba(9,124,133,1) 0%, rgba(24,78,94,1) 73%);
    box-shadow: 0 9px 14px 0 rgb(0 0 0 / 75%);
}

.project-title-text {
  margin:75px 20px 0px;
  padding: 0px;
  font-size: 26px;
  text-align: center;
}

.project-title-text h5 {
  margin: 3px 0;
  font-size: 16px;
}

.project-title-text p {
  font-size: 16px;
  margin: 14px 0 0;
  text-align: left;
}

.project-links {
  display: flex;
  flex-direction: column;
}

.project-links a {
  padding: 10px;
  text-align: center;
  font-size: .8em;
  border-radius: 30px;
  margin: 10px;
  text-decoration: none;
  border: solid 3px rgba(255, 255, 255, 1);
  color: white;
  box-shadow: none;
  transition: border 150ms ease, box-shadow 150ms ease;
}

.project-links a:hover {

  background: rgb(8,93,99);
  background: radial-gradient(circle, rgb(14, 153, 95) 0%, rgba(133,193,52,1) 100%);
  border: solid 3px rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 10px rgb(133,193,52);
}


/*-- SECTION: SKILLS --*/
.skills-icons {
  display: flex;
  align-items:center;
  list-style-type: none;
  justify-content: space-around;
  flex-flow: row wrap;
  padding:15px 0px;
}

.skills-section img {
  flex-wrap: auto;
  padding: 25px 25px;
  max-height: 150px;
}

.skill-link {
  text-decoration: none;
  filter: none;
  transition: filter 0.25s;
}

.skill-link:hover {
  filter: drop-shadow(5px 5px 5px #222);
}


/*-- SECTION: CONTACT --*/
.contact-section {
  display: flex;
  flex-direction: column;
  align-content: center;
}


.contact-section .section-title {
  color: white;
}

/* .contact-section .section-content {
 min-height:50vh;
} */

.contact-form {
  width: 75%;
}

.contact-form input,.contact-form textarea{
  display: block;
  padding:20px 15px;
  font-size:16px;
  color:var(--secondary-color);
  width:100%;
  margin-bottom: 5px;
  margin-top:5px;
  border-radius: 1px;
  background-color: rgba(255,255,255, 0.75);
}

.contact-form input:focus,.contact-form textarea:focus {
  background-color: rgba(255,255,255, 1);
  outline: none;
}

.contact-form button {
  width: 100%;
  border: none;
  background: var(--primary-color);
  color:var(--secondary-color);
  text-align: center;
  padding:20px 0;
  font-size: 16px;
  border-radius: 1px;
}

.contact-form button:hover {
  color: var(--primary-color);
  background: var(--tertiary-color);
  cursor: pointer;
}

/*-- SECTION: FOOTER --*/
.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 51, 51);
  width: 100%;
  min-height:30vh;
}

.contact-section ul {
  display: flex;
  align-items:center;
  list-style-type: none;
  justify-content: space-between;
  padding:30px 0px;
  padding-left: 160px;
  font-size: 18px;
}

.contact-section ul li a {
  text-decoration: none;
  padding: 0px 25px;
  border-radius: 3px;
  font-size: 3rem;
  color: white;
}

.contact-section ul li a:hover {
  color: var(--primary-color);
  border-radius: 3px;
}
