/*-- GLOBAL STYLES --*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--link-font);
}


/*-- VARIABLES --*/
:root {
  --primary-color:#00BFFF;
  --primary-color-lighter:#77ddff;
  --secondary-color: rgb(39, 43, 48);
  --tertiary-color: #001933;
  --background-color:#0f65c01a;

  --header-font: 'Lato', sans-serif;
  --link-font: 'Lato', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;
}

/*-- ALL SECTIONS --*/
.main-container {
  background-color: rgba(248, 251, 253, 0.849);
  /* display: flex; */
}

/*-- HEADER --*/
/* top navigation menu */
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position:fixed;
  z-index: 2;
  background-image: linear-gradient(to bottom, rgb(39, 43, 48) 0%,rgb(77, 91, 107) 100%);
  box-shadow: 2px 1px 3px rgb(0,0,0,.75);
}

.header-spacer {
  width: 100%;
  height: 70px;
  /* background-color:#00BFFF; */
}

.header h1 {
  font-size:1.75rem;
  letter-spacing: 1.5px;
  line-height: 2rem;
  font-family: var(--header-font);
  text-shadow: none;
  color: var(--primary-color);
  margin:0;
  padding: 15px 50px;
  border-left: solid 8px rgba(0,0,0,0);
  /* border-bottom: solid 2px gray; */
  transition: all .5s;
  properties: background-color, text-shadow;
}

.header h1:hover {
  background-color: rgb(77, 91, 107);
  box-shadow: 2px 2px 2px rgba(0,0,0,.3);
  text-shadow: 2px 2px 2px black;
  border-left: solid 8px var(--primary-color);
}

.navigation {
  display: none;
}

.header:hover .navigation {
  display:contents;
}

.subheader-text {
  font-size: 1rem;
  letter-spacing: .2px;
  font-weight: 200;
  font-family: var(--paragraph-font);
  padding: 0px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
}

.navigation ul {
  list-style: none;
}

.navigation a {
  display:block;
  font-weight: lighter;
  font-size: 1.25rem;
  color: white;
  padding: 10px 5px;
  border-radius: 1px;
  background-color: none;
  transition: all .3s ease-in-out;
  /* properties: padding, background-color, font-weight; */
}

.navigation a:hover {
  font-weight: bolder;
  background-color: rgb(77, 91, 107);
  padding-left:40px;
  color: var(--primary-color);
  border-left: solid 8px var(--primary-color);
}

header a {
  text-decoration: none;
}

/* MEDIA QUERY FOR LARGER SCREENS */

@media screen and (min-width: 980px) {

/* side navigation menu */
  /* .header {
    height: 100%;
    width: 225px;
    position:fixed;
    clear:left;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgb(39, 43, 48) 0%,rgb(77, 91, 107) 100%);
    overflow-x: hidden;
    box-shadow: 2px 1px 3px rgb(0,0,0,.75);
  } */

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    flex-direction: row;
  }

  .navigation {
    display: flex;
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    margin: 0px 0px;
    width: 200px;
    padding: 20px 5px;
  }
}

/*-- HERO/JUMBOTRON --*/
.hero {
  /* background-image: url("../assets/images/stars-jumbotron.jpg"); */
  background-size: cover;
  background-attachment:fixed;
  background-position:center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
}

.hero-subtitle {
  width: 75%;
  text-align: center;
  text-shadow: 0 0 10px rgba(248, 245, 245, 0.75);
  padding:30px 30px 0px 220px;
  padding-left: 220px;
  justify-self: flex-end;
  align-self: flex-end;
  position: absolute;
  top: 100px;
  right:20px;
}

.hero-subtitle h2 {
  color: white;
  font-size: 60px;
  font-family: var(--paragraph-font);
  /* color:var(--secondary-color); */
}

/*-- ALL CONTENT SECTIONS --*/
.section-title {
  width: 96%;
  text-align: center;
  color: var(--secondary-color);
  letter-spacing: 3px;
  font-size: 2.1rem;
  font-family: var(--header-font);
  font-weight: 800;
  padding: 20px;
}

.section-content {
  padding: 6% 6%;
   /* min-height: 100vh; */
}

/* MEDIA QUERY FOR LARGER SCREENS */
/* side navigation menu */
@media screen and (min-width: 980px) {
  .about-section {
      padding: 0% 20%;
  }
}

/*-- SECTION: ABOUT ME --*/
.about-section {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight:300;
  font-family: var(--paragraph-font);
  line-height: 2.5rem;
}

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background: rgb(127,200,224);
  background: linear-gradient(180deg, rgba(127,200,224,1) 0%, rgba(46,170,212,1) 100%);
  width: 100vw;
  height: 200px;
  position: absolute;
  left: 0px;
}

.about-section img {
  align-items: center;
  align-content: center;
  align-self: center;
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  margin-top: 0px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 2px 2px 3px rgb(0,0,0,.25);
}

.about-summary {
  /* position: absolute; */
  margin-top: 300px;

}


/*-- SECTION: PROJECTS --*/
.project-section {
  background-image: linear-gradient(to bottom right, rgb(231, 229, 229) 0%, rgb(196, 196, 196) 100%);
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-card {
  position: relative;
  width: 400px;
  height: 300px;
  transform-style: preserve-3d;
  margin:10px;
}

.project-card-image {
  width: 100%;
  height: 100%;
  object-fit:fill;
  overflow:hidden;
}

.project-card .face {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: .6s ease-in-out;
  backface-visibility: hidden;
  transform: perspective(0px) rotateY(0deg);
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgb(0,0,0,.2);
}

.project-card .face.front {
  background: white;
  color:#222;
}

.project-card:hover .face.front {
  transform: perspective(500px) rotateY(180deg);
}

.project-card .face.back {
  background: rgb(127,200,224);
  background: linear-gradient(180deg, rgb(38, 155, 194) 0%, rgb(7, 129, 170) 100%);
  transform: perspective(500px) rotateY(180deg);
}

.project-card:hover .face.back {
  transform: perspective(500px) rotateY(360deg);
}

.project-card .project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2em;
  color: white;
  width: 100%;
  padding: 0px 30px;
  margin-bottom: 0px;
  /* background-color: var(--primary-color); */
  transition: width .5s;
}

.project-title-text {
  margin-bottom:50px;
}

.project-links {
  display: flex;
  flex-direction: column;
}

.project-links a {
  padding: 10px;
  text-align: center;
  background-color: white;
  font-size: .8em;
  color:  rgb(7, 129, 170);
  border: 3px solid white;
  border-radius: 2px;
  margin: 10px;
  text-decoration: none;
}

.project-links a:hover {
  background-color: transparent;
  color: white;
}



.project-1 {
  /* background-image: url("../assets/images/diet-delivery-screenshot-small.jpg"); */
  background-size: cover;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.project-2 {
  /* background-image: url("../assets/images/tech-blog-screenshot.jpg"); */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
}

.project-3 {
  /* background-image: url("../assets/images/cinasearch-screenshot.jpg"); */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
}

.project-4 {
  /* background-image: url("../assets/images/password-generator-screenshot.png"); */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
}

.project-5 {
  /* background-image: url("../assets/images/taskinator-screenshot.jpg"); */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
}

.project-6 {
  /* background-image: url("../assets/images/work-day-scheduler-screenshot.jpg"); */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
}

.project-7 {
  /* background-image: url("../assets/images/weather-dashboard-screenshot.jpg"); */
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}


/*-- SECTION: SKILLS --*/
.skills-icons {
  display: flex;
  align-items:center;
  list-style-type: none;
  justify-content: space-around;
  flex-flow: row wrap;
  padding:15px 0px;
}

.skills-section img {
  flex-wrap: auto;
  padding: 25px 25px;
  max-height: 150px;
}

.skill-link {
  text-decoration: none;
  filter: none;
  transition: filter 0.25s;
}

.skill-link:hover {
  filter: drop-shadow(5px 5px 5px #222);
}



/*-- SECTION: CONTACT --*/
.contact-section {
  background-image: linear-gradient(to bottom right, var(--secondary-color) 0%, rgb(117, 123, 129) 100%);
  display: flex;
  flex-direction: column;
}

.contact-section .section-title {
  color: white;
}

.contact-section .section-content {
 min-height:50vh;
}

.contact-form {
  width: 75%;
}

.contact-form input,.contact-form textarea{
  display: block;
  padding:20px 15px;
  font-size:16px;
  color:var(--secondary-color);
  width:100%;
  margin-bottom: 5px;
  margin-top:5px;
  border-radius: 1px;
  background-color: rgba(255,255,255, 0.75);
}

.contact-form input:focus,.contact-form textarea:focus {
  background-color: rgba(255,255,255, 1);
  outline: none;
}

.contact-form button {
  width: 100%;
  border: none;
  background: var(--primary-color);
  color:var(--secondary-color);
  text-align: center;
  padding:20px 0;
  font-size: 16px;
  border-radius: 1px;
}

.contact-form button:hover {
  color: var(--primary-color);
  background: var(--tertiary-color);
  cursor: pointer;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 51, 51);
  width: 100%;
  min-height:30vh;
}

.contact-section ul {
  display: flex;
  align-items:center;
  list-style-type: none;
  justify-content: space-between;
  padding:30px 0px;
  padding-left: 160px;
  font-size: 18px;

}

.contact-section ul li a {
  text-decoration: none;
  padding: 0px 25px;
  border-radius: 3px;
  font-size: 3rem;
  color: white;
}

.contact-section ul li a:hover {
  color: var(--primary-color);
  border-radius: 3px;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .hero {
      display: block;
  }

  .hero-subtitle {
      margin: auto;
      justify-self: center;
      align-self: center;
      position:static;
      width: 100%;
  }

  .hero-subtitle h2 {
      justify-self: center;
      width: 100%;
  }

  .content {
      border: none;
  }

  .about-section {
      display: block;
      width: 100%;
  }

  .about-section img {
      float: left;
  }


}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  /* navigation side bar will be hidden on mobile device viewport.
  Fix this so that it can be opened with a hamburger menu button */

  .about-section img {
      float: none;
  }

  .contact-section ul {
      display: block;
  }

  .contact-section ul li {
      border: none;
      padding: 0px 0px 15px;
      margin-top: 0px;
  }
}
