/*-- FONTS --*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/*-- FONT ICONS --*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

/*-- VARIABLES --*/
:root {
  --color-bg-backup:rgb(24,78,94);
  /* --color-bg-dark-gradient: radial-gradient(circle, rgba(24,78,94,1) 0%, rgba(8,93,99,1) 97%); */

  background: rgb(45,184,195);
  --color-bg-dark-gradient: linear-gradient(147deg, rgba(41,149,158,1) 0%, rgba(81,208,151,1) 43%, rgba(2,68,89,1) 100%);

  --color-bg-dark-gradient-transparent: radial-gradient(circle, rgba(24,78,94,.95) 0%, rgba(8,93,99,.95) 97%);
  --color-bg-light-transparent: rgba(255,255,255, 0.85);

  --color-bg-content-container: linear-gradient( 110.5deg,  rgba(19, 23, 87, 0.7) 50.9%, rgba(15, 13, 104, 0.3) 90% );
  --color-bg-content-container-opaque: linear-gradient( 110.5deg,  rgba(19, 23, 87, 1) 50.9%, rgba(15, 13, 104, 1) 90% );

  --color-accent: rgba(149,245,211,1);
  --color-accent-dark: rgb(63, 110, 94);

  --font-header: 'Titillium Web', sans-serif;
  --font-paragraph: 'Poppins', sans-serif;

  /*-- for large containers --*/
  --shadow-primary: 0 9px 50px 0 rgb(0 0 0 / 75%);

  /*-- for large images --*/
  --shadow-image-large: 2px 2px 20px rgb(46, 44, 44);
  /*-- for small images --*/
  --shadow-image-small: 0 9px 14px 0 rgb(0 0 0 / 75%);

  --shadow-button: 8px 8px 8px 0 rgb(0 0 0 / 50%);
  --shadow-button-hover: 4px 4px 4px 0 rgb(0 0 0 / 75%);;
}


/*-- GLOBAL STYLES --*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* @media screen and (min-width: 980px) {
  html {
    font-size: 24px;
    }
} */

@media screen and (min-width: 40em) {
  html {
    font-size: 24px;
    }
}

body {
  background: var(--color-bg-backup);
  background: var(--color-bg-dark-gradient);
  font-family: var(--paragraph-font);
  font-size: 1.3125rem;
  line-height: 1.6;
}

section {
  padding: 3rem 0;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  width: min(90%, 90rem);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.bg-dark-card {
  background: var(--color-bg-backup);
  background: var(--color-bg-dark-gradient-transparent);
  background: var(--color-bg-content-container);
  box-shadow: var(--shadow-primary);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.opaque-card {
  background: var(--color-bg-backup);
  background: var(--color-bg-content-container-opaque);


  background: rgb(35,143,153);
  background: linear-gradient(315deg, rgba(35,143,153,1) 0%, rgba(55,143,103,1) 43%, rgba(10,48,60,1) 100%);
  background: linear-gradient(150deg, rgba(35,143,153,1) 0%, rgba(55,143,103,1) 43%, rgba(10,48,60,1) 100%);
  box-shadow: var(--shadow-primary);
}

.btn-grad {background-image: linear-gradient(to right, #5f2c82 0%, #49a09d  51%, #5f2c82  100%)}
.btn-grad {
    margin: 10px 0;
    padding: .3em .3em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: var(--font-header);
    background-size: 200% auto;
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    display: block;
    transition: 0.5s;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}

.btn-small {
  font-size: 1rem;
  width: 60%;
  margin: 1rem;
  text-decoration: none;
  color: white;
}

.bg-light {
  background-color: var(--color-bg-light-transparent);
}

.round-borders {
  border-radius: 10px;
}

.shadow-image-large {
  box-shadow: var(--shadow-image-large);
}

h1,
h2,
h3 {
  font-family: var(--font-header);
  /* margin-bottom: 1em; */
}

/*-- HEADER --*/
/* top navigation menu */
.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url('./assets/images/galaxy-bg.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.header-section::after, .header-details-section::after {
  content: "";
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(6, 27, 34, 0.5) 0%, rgba(4, 48, 51, 0.5) 100%);
}


/*-- HEADER (DETAILS PAGE) --*/
.header-details-section {
  height: 4rem;
  box-shadow: 4px 4px 10px black;
  z-index: 100;
  position:fixed;
}

.header-details-section::after {
  height: 4rem;
}

header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  justify-items: stretch;
  flex-wrap: wrap;
  width: 90%;
  z-index: 2;
  padding-bottom: 2rem;
}

.nav-logo {
  font-size: 2.3rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  font-family: var(--font-header);
}

.navigation li {
  padding: .5rem;
}

.navigation a {
  font-size: 1rem;
  color: inherit;
  text-shadow: 1px 1px 4px rgba(41, 38, 38, 1);
  padding: .1em .5em;
  transition: all .3s ease-in-out;

}

.navigation a:hover {
  font-weight: bolder;
  color: var(--color-accent);
}

.navigation li a:hover {
  padding-top: 0rem;
  border-bottom: solid .25em var(--color-accent);
}

.header-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0rem 0rem 2rem 0rem;
  width: 90%;
  height: 70%;
  font-family: var(--font-header);
  z-index: 2;
  background-image: linear-gradient( 110.5deg,  rgba(71,114,148,.7) 14.9%, rgba(149,245,211,.3) 85% );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.0px );
  -webkit-backdrop-filter: blur( 2.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.btn-cta {
  width: 75%;
  color: white;
  font-weight:bolder;
  margin-top: 40px;
}

@media screen and (min-width: 60em) {
  .header-hero {
    align-items:flex-start;
    padding: 4rem;
    text-align: left;
  }

  .btn-cta {
    width: 50%;
  }
}

.header-lines {
  text-align: center;
}

@media screen and (min-width: 52em) {
  .header-lines {
    text-align: left;
  }
}

.header-hero h2 {
  font-size: 1.8rem;
  text-shadow: 1px 1px 10px black;
}

.moon-image {
  visibility: hidden;
  position: absolute;
  justify-self: center;
  bottom: -10%;
  /* max-width: 100%; */
  width: 550px;
  height: 550px;
  filter:brightness(80%);
  z-index: 1;
  /* -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite; */
}

@media screen and (min-width: 40em) {
  .moon-image {
    visibility: visible;
    width: 650px;
    height: 650px;
    filter:brightness(80%);
    z-index: 1;
  }
}

@media screen and (min-width: 60em) {
  .moon-image {
    width: 650px;
    height: 650px;
    animation:spin 45s linear infinite;
  }

  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}

@media screen and (min-width: 83em) {
  .moon-image {
    position: absolute;
    right: 10%;
    width: 650px;
    height: 650px;
    filter:brightness(80%);
    z-index: 1;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 45s linear infinite;
  }
}

.arrow-link {
  z-index: 1;
  padding: .5rem;
  position: absolute;
  bottom: 0;
}

.icon-arrow {
  color: rgba( 255, 255, 255, 0.65 );
  -webkit-filter: drop-shadow(1px 1px 2px rgb(255, 255, 255));
  filter:         drop-shadow(1px 1px 2px rgb(253, 253, 253));
  font-size: 1.2rem;
}

/*-- ALL CONTENT SECTIONS --*/
.section-title {
  text-align: center;
  color: white;
  letter-spacing: .1rem;
  font-size: 1.6em;
  text-transform: uppercase;
  font-family: var(--font-header);
  font-weight: 800;
}

/*-- SECTION: ABOUT --*/
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: var(--color-bg-dark-gradient);
  box-shadow: 0 2px 25px black;
  z-index: 1;
}

/*-- SECTION: ABOUT (DETAILS) --*/
/* @media screen and (min-width: 52em) {
  .about-section-details {
    padding-top: 0;
  }
} */

.about-container {
  display: flex;
  flex-direction: column;
  align-items:center;
}

@media screen and (min-width: 52em) {
  .about-container {
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.about-image {
  display: block;
  max-width: 100%;
  z-index: 1;
  margin-bottom: -15%;
}

@media screen and (min-width: 52em) {
  .about-image {
    width: 13rem;
    margin-bottom: 0;
    margin-left: -5%;
    margin-top: -20%;
    z-index: 1;
  }
}

.about-textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items:  space-between;
  justify-content: space-between;
  justify-self: end;
  width: 100%;
  height:fit-content;
  margin: 10% 1%;
  padding: .75rem;
  padding-top: 2.5rem;
  text-align: justify;
}

@media screen and (min-width: 52em) {
  .about-textbox {
    width: 70%;
    margin: 5% 1%;
    padding: 2.5rem;
    text-align: left;
  }
}

.about-text {
  margin: 0 1.5rem;
}

.about-section p {
  font-size: 1.2rem;
  font-weight:300;
  line-height: 2rem;
}

@media screen and (min-width: 40em) {
  .about-section p {
    font-size: .9rem;
  }
}


/*-- SECTION: PROJECTS --*/
.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: .5rem;
}

.project-section-title {
  color: rgb(82, 82, 82);
}

.featured-projects {
  display: flex;
  flex-flow:wrap;
  justify-content: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width:100%;
  margin: 1.2rem .6rem;
  flex-shrink: .5;
}

.project-card-image {
  max-width: 100%;
  height:188px;
  width: 300px;
  margin-bottom: -70px;
  box-shadow: var(--shadow-image-small);
  z-index: 1;
}

.project-card {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 475px;
    max-width: 30rem;
    color: white;
    margin:2.5% 2.5%;
    padding: 10px 10px;
    /* background: rgb(9,124,133);
    background: linear-gradient(180deg, rgba(9,124,133,1) 0%, rgba(24,78,94,1) 73%); */
    box-shadow: var(--shadow-image-small);
}

@media screen and (min-width: 40em) {
  .project-card {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 475px;
    max-width: 17rem;
    color: white;
    margin:2.5% 2.5%;
    padding: 10px 10px;
    /* background: rgb(9,124,133);
    background: linear-gradient(180deg, rgba(9,124,133,1) 0%, rgba(24,78,94,1) 73%); */
    box-shadow: var(--shadow-image-small);
}
}

.project-title-text {
  margin:75px 20px 0px;
  padding: 0px;
  font-size: 26px;
  text-align: center;
}

.project-title-text h5 {
  margin: 3px 0;
  font-size: 16px;
}

.project-title-text p {
  font-size: 16px;
  margin: 14px 0 0;
  text-align: left;
}

.project-links {
  display: flex;
  flex-direction: column;
}

.project-links a {
  padding: 10px;
  text-align: center;
  font-size: .6rem;
  font-weight:bolder;
  border-radius: 30px;
  margin: .3rem;
  text-decoration: none;
  border: solid .1rem rgba(255, 255, 255, 1);
  color: white;
  background-color: none;
  transition: background-color 350ms ease, color 350ms ease;
}

.project-links a:hover {
  background-color: rgb(10, 49, 61);
  border: solid .1rem var(--color-accent);
  color: var(--color-accent);
  text-shadow: var(--shadow-image-small);
}

.btn-projects {
  width: 40%;
}

@media screen and (min-width: 60em) {
  .featured-projects-wide {
    flex-direction: column;
  }

  .project-container-wide {
      flex-direction: row;
      margin: 1.6rem 0;
      align-items: flex-start;
    /* background-color: blue; */
    }

  .project-container-wide:nth-child(even) {
    flex-direction: row-reverse;
  }

  .project-card-wide {
    padding: 10px 10px;
    margin-top: 0;
    background: none;
    box-shadow: none;
    color: black;
    /* background-color: red; */
  }

  .project-card-image-wide {
    max-width: 100%;
    width:50rem;
    height:20rem;
  }

  .project-title-text-wide {
    text-align: left;
    margin: 0;
  }

  .project-links-wide a {
    border: solid .1rem rgba(255, 255, 255, 1);
    /* color: rgb(37, 31, 31); */
    background-color: var(--color-accent);
    border: none;
    /* box-shadow: var(--shadow-button); */
    transition: background-color 350ms ease, color 350ms ease, box-shadow 350ms ease;
  }

  .project-links-wide a:hover {
    background-color: var(--color-accent-dark);
    /* box-shadow: var(--shadow-button-hover); */
    color: white;
    border: none;
  }
}

/*-- SECTION: CONTACT --*/
.contact-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white;
}

.contact-section .section-title {
  color: white;
}


/*-- SECTION: FOOTER --*/
.contact-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height:30vh;
}

.contact-section ul {
  display: flex;
  align-items:center;
  list-style-type: none;
  justify-content: space-between;
  padding:30px 0px;
  font-size: 1rem;
}

.contact-section ul li a {
  text-decoration: none;
  padding: 0px 25px;
  border-radius: 3px;
  font-size: 3rem;
  color: white;
}

.contact-section ul li a:hover {
  color: var(--color-accent);
  border-radius: 3px;
}
